body {
    padding: 0%;
    margin: 0%;
}
header {
    text-align: center;
    font-family: Copperplate, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-shadow: 2px 2px greenyellow;
    
}
#tea_type {
    border-style: dashed;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
    float: left;
    overflow: hidden;
  }
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
 .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}
.subnav_content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}
.subnav_content a {
    float: left;
    color: white;
    text-decoration: none;
}
.subnav_content a:hover {
    background-color: #eee;
    color: black;
}
.subnav:hover .subnav_content {
    display: block;
  }