body {
    padding: 0%;
    margin: 0%;
    background-color: rgb(161, 158, 124);
}
header {
    text-align: center;
    font-family: Copperplate, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    text-shadow: 2px 2px greenyellow;
    
}
#tea_type {
    border-style: dashed;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
    float: left;
    overflow: hidden;
  }
.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
 .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(124, 172, 47);
}
.subnav_content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(124, 172, 47);
    width: 100%;
    z-index: 1;
}
.subnav_content a {
    float: left;
    color: white;
    text-decoration: none;
}
.subnav_content a:hover {
    background-color: #eee;
    color: black;
}
.subnav:hover .subnav_content {
    display: block;
  }

#grid_container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-auto-rows: minmax(150px, 150px);
    grid-gap: 20px;
    justify-content: center;
}
.grid_item {
  background-color: rgb(132, 164, 168);
  display: flex;
  text-align:center;
}
.product-name {
    flex: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid_item img  {
    object-fit: fill;
    height: 150px;
    width: auto;
}
.cart_item img  {
    object-fit: fill;
    height: 150px;
    width: auto;
}

.item_id {
    display: none;
}
.label {
    background-color: antiquewhite;
    text-align: center;
    font-size: large;
    font-family: fantasy;
}
.price {
    flex-direction: row;
  flex: auto;
}

#sum {
    font-size: 24px;
    text-align: center;
}
#sum_label {
    font-size: 24px;
    text-align: center;
}

table {
   position: relative;
   justify-content: center;
   width: 100%;
   text-align: center;
   font-size: large;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table tr {
    background-color: rgb(170, 170, 169);
}
#main_text {
    text-align: center;
    text-decoration: solid;
    background-color: black;
    font-size: 24px;
    color: white;
}
.main_image {
    height: 300px;
    width: 100%;
    background-color: black;
}
.main_image img {
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#contact_info {
    text-align: center;
    font-size: 24px;
    
}